{% extends "template_main.html" %}
{% block content %}
<header class="tn-detail-header">
  <div class="container">
    <h1>Sobre NexoDigital Soluciones</h1>
    <p class="mb-0 fs-5">Un equipo tecnológico cercano a la realidad de las pymes chilenas.</p>
  </div>
</header>

<section class="container py-5">
  <div class="row align-items-center g-5">
    <div class="col-lg-6">
      <p>Somos un equipo de desarrolladores y consultores tecnológicos con más de 8 años ayudando a pequeñas y medianas empresas chilenas a digitalizar sus procesos. Combinamos desarrollo de software a medida con buenas prácticas de seguridad y arquitectura en la nube.</p>
      <p>Trabajamos de forma cercana con cada cliente, desde el levantamiento de requerimientos hasta la puesta en producción y el soporte posterior.</p>
    </div>
    <div class="col-lg-6">
      <ul class="tn-feature-list list-unstyled">
        <li>+120 proyectos entregados desde 2018</li>
        <li>Equipo multidisciplinario: desarrollo, diseño y ciberseguridad</li>
        <li>Soporte post-entrega incluido en todos los servicios</li>
        <li>Metodologías ágiles con entregas incrementales</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}